#top {
    height: 15%;
    width: 100%;
    background-color: orange
}

#navigation {
    height: 70%;
    width: 30%;
    background-color: brown;
    float: left
}

#content {
    height: 70%;
    width: 70%;
    background-color: rosybrown;
    float: left
}

#footer {
    height: 15%;
    width: 100%;
    background-color: orangered;
    clear: left
}